<div class='oembed_card' style="background-image:url({{thumbnail_url}});" data-embed="{{embedhtml}}" {{#jshtml}}{{{jshtml}}}{{/jshtml}} >
    <div class="oembed_card_title">{{title}}</div>
    <button class="btn btn-link oembed_card_play" aria-label="{{#str}}playoembed, filter_embedrc{{/str}}"></button>
</div>
